/* --------------------------------------------------------------------------------------------------------- */
/* ------------------------------------ top panel stuffs --------------------------------------------------- */
/* --------------------------------------------------------------------------------------------------------- */

.center-header {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row: 1;
    position: relative;
    align-content: center;
    overflow: visible;
    border: solid 1px red;
}


/*calendar content*/
/*removing the dots in lists*/
ul {
    list-style-type: none;
}

ol,
li {
    list-style: none;
}

.current-month {
    height: 100%;
}

.calendar-content .calendar-header {
    padding-top: 20px;
    padding-bottom: 20px;
    position: inherit;
    justify-content: center;
    height: 100px;
    display: inline-flex;
    align-self: center;
    width: 100%;
    border: solid 1px red;
    
}



/* month header */
.month {
    padding: 70px 25px;
    top: 50%;
    width: 100%;
    text-align: center;
}

.month .btn {
    border: none;
    background-color: inherit;
    font-size: 3vw;
    text-size-adjust: auto;
    font-weight: 800;
    cursor: pointer;
}

.month .prev {

    display: inline-block;
    padding: 10px;
}


.month ul {
    margin: 0;
    padding: 0;
    
}

.month ul li {
    display: inline-flex;
    font-size: 3vw;
    text-size-adjust: auto;
    letter-spacing: 4px;
    font-weight: 800;
}


/* next button */
.month .next {
    display: inline-block;
    padding: 10px;
}

/* week day headings */
.week-day {
    font-size: 18px;
    font-weight: 800;
    padding-bottom: 5px;
    padding-top: 10px;
}

/* --------------------------------------------------------------------------------------------------------- */
/* ------------------------------------ center panel stuffs ------------------------------------------------ */
/* --------------------------------------------------------------------------------------------------------- */

.center-panel {
    position: relative;
    /* grid placement stuff */
    grid-column: 2;
    grid-row-start: 2;
    grid-row-end: 4;

    /* content stuff */
    overflow: scroll;
    
}

/* calendar grid setup */
.week-day, .days-grid {
    position: sticky;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    
    justify-content: center;
    padding-right: 10px;
    padding-left: 10px;
}


/* days of the week headings stuff */
.week-day > * {
    position: relative;
    text-justify: center;
    min-width: 50px;
    text-align: center;
    
    
}


/*actual calendar blocking */
.days-grid{
    
    justify-self: center;
    position: inherit;
    
}

/* days in calendar */
.days-grid .days {
    
    position: relative;
    background-color: white;
    
    min-height: 100px;
    min-width: 50px;
    font-size: 16px;
    padding-top: 5px;
    border: solid 1px rgb(202, 200, 200);
    
}

.days > span {
    
    position: absolute;
    left: 50%;
    width: 100px;
    
}
