.calendar-grid {
    display: grid;
    grid-column-gap: 5px;
    grid-row-gap: 5px;

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr 1fr;
}

.day-name {
    grid-row: 1;

    border: medium solid;
    border-radius: 15px;
    border-color: black;

    text-align: center;
    text-decoration: underline;
    font-family: "Courier New", monospace;
    font-size: 1.25vw;
    color: black;
}

.day-number {
    grid-row: 3;
}