.app {
    width: 100vw;
    height: 100vh;
}

.grid-container-app {
    display:grid;
    grid-column-gap: 5px;
    grid-row-gap: 5px;

    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 150px auto;
}

.grid-panel {
    padding: 10px;


    margin: 10px;
    border-radius: 10px 10px 10px 10px;
    background-color: white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3), -2px -2px 2px 2px rgba(0, 0, 0, 0.3);
}

.left-top {
    position: relative;
    grid-column: 1;
    grid-row: 1;
}

.left-panel {
    grid-column: 1;
    grid-row: 2;
    overflow: scroll;
}

/* toggle switch for month and year */
.toggleWrapper{
	position: absolute;
	top: 50%;
	left: 50%;
	overflow: hidden;
	-webkit-transform: translate3d(-50%, -50%, 0);
	transform: translate3d(-50%, -50%, 0);
}
.toggleWrapper input{
	position: absolute;
	left: -99em;
}
.toggle{
	cursor: pointer;
	display: inline-block;
	position: relative;
	width: 120px;
	height: 35px;
	background: rgb(94, 89, 84);
	border-radius: 5px;
	-webkit-transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
	transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.toggle:before, .toggle:after{
	position: absolute;
	line-height: 35px;
	font-size: 12px;
	z-index: 2;
	-webkit-transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
	transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.toggle:before{
	content: "MONTH";
	left: 11px;
	color: rgb(94, 89, 84);
}
.toggle:after{
	content: "YEAR";
	right: 15px;
	color: #fff;
}
.toggle__handler{
	display: inline-block;
	position: relative;
	z-index: 1;
	background: #fff;
	width: 60px;
	height: 29px;
	border-radius: 3px;
	top: 3px;
	left: 3px;
	-webkit-transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
	transition: all 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
	-webkit-transform: translateX(0px);
	transform: translateX(0px);
}
input:checked + .toggle{
	background: rgb(94, 89, 84);
}
input:checked + .toggle:before{
	color: #fff;
}
input:checked + .toggle:after{
	color: rgb(94, 89, 84);
}
input:checked + .toggle .toggle__handler{
	width: 54px;
	-webkit-transform: translateX(60px);
	transform: translateX(60px);
	border-color: #fff;
}
.center-header {
    grid-column: 2;
    grid-row: 1;
    position: relative;

}

.center-panel {
    position: relative;
    grid-column: 2;
    grid-row: 2;

}

/*calendar content*/
/*removing the dots in lists*/
ul {
    list-style-type: none;
}
.calendar-content {
    
    align-items: center;
    display: inline-flex;
    
    justify-content: center;
    margin: 0 auto;
    width: 100%;

}
.calendar-header {
    position: relative;
    align-items: center;
    height: 100px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.calendar {
    border-radius: 4px;
    
    width: 100%;
}

/* month header */
.month {
    padding: 70px 25px;
    top: 50%;
    width: 100%;
    text-align: center;
}

.month ul {
    margin: 0;
    padding: 0;
    
}

.month ul li {
    color: white;
    font-size: 20px;
    letter-spacing: 4px;
    color: seagreen;
    font-weight: 800;
}

/* prev and next button */
.month .prev {
    float: left;
    padding: 10px;
}

.month .next {
    float: right;
    padding: 10px;
}

/* week day headings */
.week-day {
    display: flex;
    justify-content: space-between;
    font-weight: 800;
    padding: 10px 0px;

}

.week-day li {
    display: inline-block;
    width: 13.6%;
    color: rgb(94, 89, 84);
    text-align: center;
}

/* days */
.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 13px;
    font-weight: 600;
    color: #777;
}



.right-panel {
    grid-column: 3;
    grid-row: 1 / span 2;


}

#doughnut
{
    width: 264px;
    height: 50vh;
}

.pop-up {
    
    position: fixed;   
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    padding: 10px;

    border-style: inset;
    border-width: 1px;
    border-radius: 5px;

    background-color: white;
}

::-webkit-scrollbar {
    width: 1px;
    height: 1px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: transparent;
}

