.app {
    width: 100vw;
    height: 100vh;
}

.grid-container-app {
    display: grid;
    grid-column-gap: 5px;
    grid-row-gap: 5px;

    grid-template-columns: 0.6fr 3fr 0.4fr;
    grid-template-rows: 90px 1fr 1fr;
}

.grid-panel {
    padding: 10px;

    margin: 10px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.192);
}

.left-top {
    position: relative;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 1;
    justify-items: end;
    overflow: visible;
}

.left-panel {
    grid-column: 1;
    grid-row-start: 2;
    grid-row-end: 4;
    overflow: scroll;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}


.right-top {
    grid-column: 3;
    grid-row: 2;
}

.right-bottom {
    
    justify-items: center;
    grid-column: 3;
    grid-row: 3;
}

.doughnut-container
{
    
    /*position: absolute;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    height: 40vh;
    width: 20vw;

}

.pop-up {
    position: fixed;   
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    padding: 10px;

    border-style: inset;
    border-width: 1px;
    border-radius: 5px;

    background-color: white;
}

::-webkit-scrollbar {
    width: 1px;
    height: 1px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: transparent;
}

