:root {
    --cat6c: rgba(116,26,51,255);
    --cat5c: rgba(179,66,50,255);
    --cat4c: rgba(210,143,52,255);
    --cat3c: rgba(212,185,94,255);
    --cat2c: rgba(78,162,162,255);
    --cat1c: rgba(26,134,147,255);
}

.category {
    border: 2px solid;
    border-radius: 12px;
    background-color: white;
    width: 100%;
    min-width: none;
    aspect-ratio: 1.05/1;
    text-justify: center;
    text-align: center;
    z-index: 50;
    font-size: 2vw;
    font-weight: bold;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.363);
    cursor: pointer;
    transition-duration: 0.5s;
}

.category:hover {
    
    color: white;

}

.accommodation {
    z-index: inherit;
    color: var(--cat1c);
    border-color: var(--cat1c);
}

.accommodation:hover {
    background-color: var(--cat1c);
    
}

.entertainment {
    z-index: inherit;
    color: var(--cat2c);
    border-color: var(--cat2c);

}

.entertainment:hover {
    background-color: var(--cat2c);
}

.food {
    z-index: inherit;
    color: var(--cat3c);
    border-color: var(--cat3c);
}

.food:hover {

    background-color: var(--cat3c);
}

.health {
    color: var(--cat4c);
    border-color: var(--cat4c);
}

.health:hover {
    background-color: var(--cat4c);
}

.personal {
    color: var(--cat5c);
    border-color:var(--cat5c);
}

.personal:hover {
    background-color: var(--cat5c);
}

.utilities {
    color: var(--cat6c);
    border-color: var(--cat6c);
}

.utilities:hover {
    background-color: var(--cat6c);
}

.addCat {
    border: 2px solid;
    border-radius: 12px;
    background-color: white;
    color: #7c7c7c;
    border-color: #7c7c7c;
    width: 100%;
    aspect-ratio: 1.05/1;
    margin-bottom: 18%;
    text-justify: center;
    text-align: center;
    font-size: 6vw;
    font-weight: bold;
    
    cursor: pointer;
    transition-duration: 0.5s;
}
.cat-pop {
    font-weight: bold;
    font-size: 1vw;
}

.addCat:hover {
    color: white;
    background-color: #7c7c7c;
}

/* --------------------------------------CATEGORY 1----------------------------------------------------- */

.accommodation:hover + #catt1 {
    transition: 0.6s;
    z-index: -1;
    height: 3.4vw;
    
}

.accommodation:hover ~ .cat1 {
    transition: 0.6s;
}

.cat1 {
    transition: 0.6s;
    position: relative;
    display: flexbox;
    height: auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 18%;
}

#catt1 {
    font-size: 0.9vw;
    z-index: -5;
    color: var(--cat1c);
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color: white;
    width: 90%;
    height: 0;
    margin-bottom: -18%;
    text-align: center;
    align-items: end;
    transition: .6s;
    left: 50%;
    transform: translate(-50%, 0);
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.363);
}

/* --------------------------------------CATEGORY 2----------------------------------------------------- */

.entertainment:hover + #catt2 {
    transition: 0.6s;
    z-index: -1;
    height: 3.4vw;
    
}

.entertainment:hover ~ .cat2 {
    transition: 0.6s;
}

.cat2 {
    transition: 0.6s;
    position: relative;
    display: flexbox;
    height: auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 18%;
}

#catt2 {
    color: var(--cat2c);
    font-size: 0.9vw;
    z-index: -5;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color: white;
    width: 90%;
    height: 0;
    margin-bottom: -18%;
    text-align: center;
    align-items: end;
    transition: .6s;
    left: 50%;
    transform: translate(-50%, 0);
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.363);
}

/* --------------------------------------CATEGORY 2----------------------------------------------------- */

.food:hover + #catt3 {
    transition: 0.6s;
    z-index: -1;
    height: 3.4vw;
    
}

.food:hover ~ .cat3 {
    transition: 0.6s;
}

.cat3 {
    transition: 0.6s;
    position: relative;
    display: flexbox;
    height: auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 18%;
}

#catt3 {
    color: var(--cat3c);
    font-size: 0.9vw;
    z-index: -5;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color: white;
    width: 90%;
    height: 0;
    margin-bottom: -18%;
    text-align: center;
    align-items: end;
    transition: .6s;
    left: 50%;
    transform: translate(-50%, 0);
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.363);
}

/* --------------------------------------CATEGORY 4----------------------------------------------------- */

.health:hover + #catt4 {
    transition: 0.6s;
    z-index: -1;
    height: 3.4vw;
    
}

.health:hover ~ .cat4 {
    transition: 0.6s;
}

.cat4 {
    transition: 0.6s;
    position: relative;
    display: flexbox;
    height: auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 18%;
}

#catt4 {
    color: var(--cat4c);
    font-size: 0.9vw;
    z-index: -5;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color: white;
    width: 90%;
    height: 0;
    margin-bottom: -18%;
    text-align: center;
    align-items: end;
    transition: .6s;
    left: 50%;
    transform: translate(-50%, 0);
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.363);
}

/* --------------------------------------CATEGORY 5----------------------------------------------------- */

.personal:hover + #catt5 {
    transition: 0.6s;
    z-index: -1;
    height: 3.4vw;
    
}

.personal:hover ~ .cat5 {
    transition: 0.6s;
}

.cat5 {
    transition: 0.6s;
    position: relative;
    display: flexbox;
    height: auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 18%;
}

#catt5 {
    color: var(--cat5c);
    font-size: 0.9vw;
    z-index: -5;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color: white;
    width: 90%;
    height: 0;
    margin-bottom: -18%;
    text-align: center;
    align-items: end;
    transition: .6s;
    left: 50%;
    transform: translate(-50%, 0);
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.363);
}

/* --------------------------------------CATEGORY 6----------------------------------------------------- */

.utilities:hover + #catt6 {
    transition: 0.6s;
    z-index: -1;
    height: 3.4vw;
    
}

.utilities:hover ~ .cat6 {
    transition: 0.6s;
}

.cat6 {
    transition: 0.6s;
    position: relative;
    display: flexbox;
    height: auto;
    align-items: center;
    justify-content: center;
    margin-bottom: 18%;
}

#catt6 {
    color: var(--cat6c);
    font-size: 0.9vw;
    z-index: -5;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color: white;
    width: 90%;
    height: 0;
    margin-bottom: -18%;
    text-align: center;
    align-items: end;
    transition: .6s;
    left: 50%;
    transform: translate(-50%, 0);
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.363);
}