.category {
    border: medium solid;
    border-radius: 12px;
    background-color: white;
    width: 100%;
    aspect-ratio: 1.05/1;
    margin-bottom: 18%;
    text-justify: center;
    text-align: center;
    text-decoration: underline;
    font-family: "Courier New", monospace;
    font-size: 1.00vw;
    font-weight: bold;
    
    cursor: pointer;
    transition-duration: 0.5s;
}

.category:hover {
    color: white;
}

.accommodation {
    color: #1d7403;
    border-color: #1d7403;
}

.accommodation:hover {
    background-color: #1d7403;
}

.entertainment {
    color: #7948ff;
    border-color: #7948ff;
}

.entertainment:hover {
    background-color: #7948ff;
}

.food {
    color: #f09a1a;
    border-color: #f09a1a;
}

.food:hover {
    background-color: #f09a1a;
}

.health {
    color: #ff0000;
    border-color: #ff0000;
}

.health:hover {
    background-color: #ff0000;
}

.personal {
    color: #0043fc;
    border-color: #0043fc;
}

.personal:hover {
    background-color: #0043fc;
}

.utilities {
    color: #684f2f;
    border-color: #684f2f;
}

.utilities:hover {
    background-color: #684f2f;
}

.addCat {
    color: #000000;
    border-color: #000000;
    text-decoration: none;
    font-size: 8vw;

}

.addCat:hover {
    background-color: #000000;
}