/*what do the pop-ups look like*/

.pop-up {
    position: fixed;   
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 35%;
    height: auto;
    
    border-radius: 15px;
    border-bottom: solid 10px rgb(196, 196, 196);
    box-shadow: 1px 1px 10px 1px rgba(126, 126, 126, 0.466), -1px -1px 10px 1px rgba(161, 161, 161, 0.5);

    color: black;
    background-color: white;

    text-indent: 12px;
    line-height: 0px;
    font-family: 'Product Sans';
    font-size: 12px;
    font-weight: 550;

    padding: 15px 15px 15px 15px;
    


}

.popup-header {
    margin-bottom: 20px;
}

input[type="number"], input[type="text"], select {
    width: 97%;
    padding: 10px 10px;
    margin: 10px 10px;
    margin-bottom: 25px;
    padding-bottom: 10px;
    color: rgb(112, 112, 112);
    background-color: rgb(225, 230, 236);
    font-size: 12px;

    border: solid 1.5px black;
    border-radius: 6px;
    box-sizing: border-box;

    outline: none;
}
input[type="number"]:hover, input[type="text"]:hover, select:hover{
    box-shadow: 1px 1px 4px 4px rgba(151, 168, 223, 0.507);
}

input[type="submit"] {
    width: 25%;
    padding: 10px 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-size: 12px;
    position: relative;
    color: rgb(255, 255, 255);
    background-color: rgb(123, 150, 238);
    border-radius: 6px;
    border: medium solid rgb(123, 150, 238);
    font-weight: 400;
    cursor: pointer;
    transition-duration: 0.2s;
    transform: translate(-50%, 0);
    left: 50%;
}

input[type=submit]:hover {
    color: grey;
    background-color: rgb(158, 206, 255);
    border-color:rgb(81, 82, 82);
}

.close {
    position: fixed;
    left: 100%;
    top: 0%;
    transform: translate(-50%, -50%);
    width: 30px;
    aspect-ratio: 1/1;
    border: none;
    border-radius: 15px;
    /* box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1), -2px -2px 2px 2px rgba(0, 0, 0, 0.1); */
    
    color: rgb(255, 255, 255);
    background-color: rgb(90, 124, 168);
    
    text-align: center;

    font-size: 1vw;
    font-weight: bold;

    cursor: pointer;
    transition-duration: 0.25s;
}

.close:hover {
    background-color: red;
}