/*what do the pop-ups look like*/
.tab {
    position: relative;
    align-self: center;
    justify-self: center;
    overflow: hidden;
    display: flexbox;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    padding-left: 10px;
    
    padding-top: 10px;
    background-color: rgba(237, 230, 230, 0.762);
    margin-bottom: 30px;
    margin-right: 15px;
    margin-left: 10px;
}

.tab button {
    background-color: rgba(225, 225, 225, 0.762);
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    /* border-bottom-left-radius: 8px; */
    border-top: solid 5px black;
    float: left;
    border: none;
    margin-right: -2px;
    cursor: pointer;
    padding: 14px 16px;
}
.tab button::before, .tab button::after {
    position: absolute;
    bottom: -1px;
    content: "-";
    border: solid 1px black;
}

.tab button::before {
    left: -50px;
}
.tab button::after {
    right: -50px;
}

.tab button:hover {
    background-color: rgba(203, 203, 203, 0.721);
}

.tab button.active {
    z-index: 10;
    background-color: rgb(255, 255, 255);
}

/* .tab choice {
    display: inline;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

} */

.tab.close {
    position: fixed;
    left: 100%;
    top: 0%;
    transform: translate(-50%, -50%);
    width: 30px;
    aspect-ratio: 1/1;
    border: none;
    border-radius: 15px;
    /* box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1), -2px -2px 2px 2px rgba(0, 0, 0, 0.1); */
    
    color: rgb(255, 255, 255);
    background-color: rgb(90, 124, 168);
    
    text-align: center;

    font-size: 1vw;
    font-weight: bold;

    cursor: pointer;
    transition-duration: 0.25s;
}


.pop-up {
    position: fixed;   
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: auto;
    
    border-radius: 15px;
    border-bottom: solid 10px rgb(196, 196, 196);
    box-shadow: 1px 1px 10px 1px rgba(126, 126, 126, 0.466), -1px -1px 10px 1px rgba(161, 161, 161, 0.5);

    color: black;
    background-color: white;

    line-height: 0px;
    font-family: 'Product Sans';
    font-size: 12px;
    font-weight: 550;

    padding: 15px 15px 15px 15px;
}

.pop-up label {
    padding-left: 14px;
    width: 100%;
    padding-right: 14px;
    display: block;
}

.popup-header {
    margin-bottom: 20px;
}

#directory button {
    position: relative;
    align-items: center;
}

input[type="number"], input[type="text"], input[type="color"], input[type="date"], select {
    width: 97%;
    padding: 10px 10px;
    margin: 10px 10px;
    margin-bottom: 25px;
    padding-bottom: 10px;
    color: rgb(112, 112, 112);
    background-color: rgb(225, 230, 236);
    font-size: 12px;

    border: solid 1.5px black;
    border-radius: 6px;
    box-sizing: border-box;

    outline: none;
}

input[type="color"] {
    height: 40px;
}

input[type="number"]:hover, input[type="text"]:hover, input[type="color"]:hover, select:hover{
    box-shadow: 1px 1px 4px 4px rgba(151, 168, 223, 0.507);
}

input[type="submit"] {
    width: 25%;
    padding: 10px 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-size: 12px;
    position: relative;
    color: rgb(255, 255, 255);
    background-color: rgb(123, 150, 238);
    border-radius: 6px;
    border: medium solid rgb(123, 150, 238);
    font-weight: 400;
    cursor: pointer;
    transition-duration: 0.2s;
    transform: translate(-50%, 0);
    left: 50%;
}

input[type=submit]:hover {
    color: grey;
    background-color: rgb(158, 206, 255);
    border-color:rgb(81, 82, 82);
}

.choice {
    width: 100%;
    padding: 10px 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-size: 12px;
    position: relative;
    color: rgb(255, 255, 255);
    background-color: rgb(123, 150, 238);
    border-radius: 6px;
    border: medium solid rgb(123, 150, 238);
    font-weight: 400;
    cursor: pointer;
    transition-duration: 0.2s;
    transform: translate(-50%, 0);
    left: 50%;
}

.choice:hover {
    color: grey;
    background-color: rgb(158, 206, 255);
    border-color:rgb(81, 82, 82);
}

.close {
    position: fixed;
    left: 100%;
    top: 0%;
    transform: translate(-50%, -50%);
    width: 30px;
    aspect-ratio: 1/1;
    border: none;
    border-radius: 15px;
    /* box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1), -2px -2px 2px 2px rgba(0, 0, 0, 0.1); */
    
    color: rgb(255, 255, 255);
    background-color: rgb(90, 124, 168);
    
    text-align: center;

    font-size: 1vw;
    font-weight: bold;

    cursor: pointer;
    transition-duration: 0.25s;
}

.close2 {
    position: fixed;
    left: 100%;
    margin-right: 0px;
    top: 0%;
    transform: translate(-50%, -50%);
    width: 30px;
    aspect-ratio: 1/1;
    border: none;
    border-radius: 15px;
    /* box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1), -2px -2px 2px 2px rgba(0, 0, 0, 0.1); */
    
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    
    text-align: center;

    font-size: 1vw;
    font-weight: bold;

    cursor: pointer;
    transition-duration: 0.25s;
}

.close:hover {
    background-color: red;
}

.error {
    position: relative;
    animation: shake .1s linear;
    animation-iteration-count: 3;
    border: solid 2px red;
    box-shadow: 1px 1px 4px 4px rgba(249, 113, 113, 0.808);

}

@keyframes shake {
    0% { left: -5px; }
    100% {  right: -5px;  }
}

#catIcon {
    position: absolute;
    left: -100vw;
}

.icons-to-select {
    display: inline-flex;
    position: relative;
    width: auto;
    height: auto;
    border-radius: 6px;
    border: solid 1px black;
    padding-left: 1px;
    padding-right: 1px;
    margin-left: 10px;
    margin-right: 10px;
    aspect-ratio: 1/1;
}
.icons-to-select li {
    display: flexbox;
    position: absolute;
    line-height: 200px;
    padding-right: 10px;
    padding-left: 10px;
    height: 20vh;
    width: auto;
    aspect-ratio: 1/1;
    text-align: center;
    align-self: center;
    justify-self: center;
    font-size: 7vw;
}

.icons-to-select2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    overflow-y: scroll;
    width: auto;
    height: 25vh;
    border-radius: 6px;
    border: solid 1px black;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(225, 230, 236);
    /* margin-left: 10px;
    margin-right: 10px; */
}

.icons-to-select2 li {
    position: relative;
    display: grid;

}

.icons-to-select2 button:hover {
    cursor: pointer;
    offset: 0.9px;
    box-shadow: 1px 1px 8px 1px rgba(179, 179, 179, 0.543);
}

.icons-to-select2 button {
    border-radius: 3px;
    position: inherit;
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    font-size: 5vw;
    color: grey;
    background-color: rgb(235, 240, 245);
    /* text-align: center; */
    /* padding-left: 5px;
    padding-right: 5px; */
    /* left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
}

/* .option-showed {
    top: 0;
    transform: translate(-50% 0);
} */

.iconSelections {
    /* margin: 10px 10px 10px 10px; */
    margin-bottom: 20px;
    margin-right: 10px;
    display: grid;
    grid-template-columns: .5fr 1fr;
    align-items: flex-start;
    overflow-y: visible;
    height: 30vh;
    padding: 0px;
}

.iconSelections li {
    width: auto;
    height: auto;
    aspect-ratio: 1/1;
    position: relative;
    display: block;
    margin: 5px;
}

.iconOption {
    position: relative;
    border: solid 1px black;
    
}
/* .selected-icon {
    display: flex;
    border: solid 1px blue;
    color: rgb(165, 165, 165);
    position: absolute;
    height: auto;
    padding-right: 5px;
    padding-left: 5px;
    width: 100%;
    aspect-ratio: 1/1;
} */